.col, .col-sm-6, .col-md-12, .col-lg-3, .col-xl-4
{
    background-color: rgb(208, 192, 223);
    border: 1px black solid;
    text-align: center;
}
#LadoA
{
    border: 2px red solid;
    margin-bottom: 10px; 
}
#LadoB
{
    border: 2px green solid;

}
.title_box01 #title01,#title02 {
    position: relative;
    top : -0.7em;
    margin-left: 1em;
    display: inline;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0px 5px;
    font-family: 'Raleway';
    font-size: 20PX;
}

.money{
  color: rgb(0, 0, 0);
  font-family: 'Muli';
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-top: -20px;
}
.title_box01 {
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 8px;
  padding: 0px;
}